[submodule "themes/den"]
	path = themes/den
	url = https://github.com/shaform/hugo-theme-den.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/docsy"]
	path = themes/docsy
	url = git@github.com:google/docsy.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
